/* Общие стили */

.page {
  min-inline-size: 375px;
  display: flex;
  flex-direction: column;
  font-family: var(--poppins-font), sans-serif;
  font-weight: 400;
  background-color: white;
}

.main-body {
  position: relative;
}

.title {
  line-height: 74px;
  font-size: clamp(1.875rem, 1.2148rem + 2.8169vw, 3.75rem);
  font-weight: 700;
  letter-spacing: 3px;
}

.paragraph {
  font-size: 16px;
}

.link {
  display: block;
  position: relative;
  font-size: 16px;
  text-decoration: none;
  font-family: var(--accent-font), sans-serif;
  font-weight: 700;
  color: var(--link, orange);
  cursor: pointer;
}

.link::before {
  content: '▶';
  padding-inline-end: 5px;
}

.link::after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--link, orange);
  inline-size: 0;
  block-size: 2px;
  inset-inline-start: 17px;
  transition: inline-size 0.5s ease-in-out;
}

.link:hover::after {
  inline-size: 97px;
}

/* Хедр */

.header {
  position: absolute;
  z-index: 1;
  inset-inline: 11.5%;
  margin-block-start: 1.78%;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-inline-end: 9px;
  inline-size: 61px;
}

.logo-title {
  inline-size: 190px;
}

.header__button {
  inline-size: 42px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-style: solid;
  cursor: pointer;
}

.header__button-nav {
  inline-size: 18px;
}

/* Первая секция */

.hero {
  color: var(--color-fonts, white);
  background-image: url(../images/bitmap.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  padding-block-start: 13%;
  padding-block-end: 14.5%;
  padding-inline: 11.6%;
  block-size: 100vh;
}

.hero-container__above-title {
  font-size: 14px;
}

.hero-container__title {
  inline-size: 51%;
  margin-block-start: 2%;
}

.hero-container__paragraph {
  inline-size: 49%;
  margin-block-start: 2.2%;
}

.hero-container__link {
  inline-size: 114px;
  margin-block-start: 4.8%;
}

/* Вторая секция */

.deation-evaluation__container {
  padding-block: 150px;
  padding-inline: 11.5%;
}

.deation-evaluation__container__title {
  inline-size: 54%;
  grid-column: span 4;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.4px;
  line-height: 50px;
}

.deation-evaluation__container__list {
  margin-block-start: 52px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.7%;
}

.deation-evaluation__container__list-item {
  padding: 30px;
  min-inline-size: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--poppins-font), sans-serif;
  font-weight: 500;
}

.list-item__title {
  inline-size: 193px;
  text-transform: uppercase;
  line-height: 34px;
  font-size: 24px;
}

.new-line {
  display: block;
}

.list-item__paragraph {
  margin-block-start: 20px;
  font-size: 14px;
  line-height: 26px;
}

.list-item__link {
  margin-block-start: 34px;
}

@media (max-width: 1440px) {

  .deation-evaluation__container__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1111px) {

  .deation-evaluation__container__list {
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
  }
}

@media (max-width: 1024px) {

  .hero-container {
    padding-block-start: 29%;
  }

  .hero-container__title {
    inline-size: 80%;
  }
}
