/* Общие стили */

.page {
  min-inline-size: 375px;
  display: flex;
  flex-direction: column;
  font-family: var(--poppins-font), sans-serif;
  font-weight: 400;
  background-color: white;
}

.main-body {
  position: relative;
}

.title {
  line-height: 74px;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
}

.paragraph {
  font-size: 16px;
}

.link {
  display: block;
  position: relative;
  font-size: 16px;
  text-decoration: none;
  font-family: var(--accent-font), sans-serif;
  font-weight: 700;
  color: var(--link, orange);
  cursor: pointer;
}

.link::before {
  content: '▶';
  padding-inline-end: 5px;
}

.link::after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--link, orange);
  inline-size: 0;
  block-size: 2px;
  inset-inline-start: 17px;
  transition: inline-size 0.5s ease-in-out;
}

.link:hover::after {
  inline-size: 97px;
}

/* Хедр */

.header {
  position: absolute;
  inset-inline: 164px;
  max-inline-size: 1111px;
  margin-block-start: 1.78%;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-inline-end: 9px;
  inline-size: 61px;
}

.logo-title {
  inline-size: 190px;
}

.header__button {
  inline-size: 42px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-style: solid;
  cursor: pointer;
}

.header__button-nav {
  inline-size: 18px;
}

/* Первая секция */

.hero {
  color: var(--color-fonts, white);
  background-image: url(../images/bitmap.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  padding-block-start: 13%;
  padding-block-end: 14.5%;
  padding-inline: 11.6%;
}

.hero-container__above-title {
  font-size: 14px;
}

.hero-container__title {
  inline-size: 616px;
  margin-block-start: 2%;
}

.hero-container__paragraph {
  inline-size: 581px;
  margin-block-start: 2%;
}

.hero-container__link {
  inline-size: 114px;
  margin-block-start: 4.8%;
}

/* Вторая секция */

.deation-evaluation__container {
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows: 2fr;
}
